<!-- Admin Signin Page -->
{{define "title"}}{{.Title}}{{end}}

{{define "head"}}
<link rel="stylesheet" href="{{asset "/css/signin.css"}}">
{{end}}

<!-- content  -->
{{define "content"}}
<div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold mb-4">Passwordless Sign-in</h1>
  <form method="post" action="">
    <div>
    <label for="email" class="block mb-2 font-medium text-gray-700"
      >Email Address</label
    >
    <input
      type="email"
      id="email"
      name="email"
      class="border border-gray-300 p-2 rounded"
      required
      {{if .Email}}
      value="{{.Email}}"
      {{end}}
    />
  </div>
  {{if .Email}}
  <p>A signin link has been sent to your email</p>
  {{end}}
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4"
    >
    {{if .Email}}
      Resend Verification Code
    {{else}}
      Send Verification Code
    {{end}}
    </button>
  </form>
  <p class="mt-4 color-danger">{{ .Error }}</p>
</div>
{{end}}

{{ define "scripts" }}
<script src="{{asset "/js/signin.js"}}" defer></script>
{{end}}
